<div class="bg-primary bg-image">
	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<main>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-7">
							<div class="card shadow-lg border-0 rounded-lg mt-5">
								<div class="card-header"><h3 class="text-center font-weight-light my-4">Add New Worker</h3></div>
								<div class="card-body">
									<form #f="ngForm" (ngSubmit)="onSaveUser(f.value)">
										<div class="form-row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="small mb-1">First Name</label>
													<input name="nom" ngModel type="text" placeholder="Enter first name" class="form-control py-4" />
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="small mb-1">Last Name</label>
													<input  name="prenom" ngModel type="text" placeholder="Enter last name" class="form-control py-4" />
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="small mb-1">UserName</label>
													<input  name="username" ngModel type="text" placeholder="Enter first name" class="form-control py-4" />
												</div>
											</div>

										</div>

										<div class="form-row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="small mb-1" >Phone Number</label>
													<input name="tel" ngModel type="number" placeholder="Enter your phone number" class="form-control py-4"  />
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="small mb-1" for="inputLastName">BirthDay</label>
													<input name="dateBirdh" ngModel type="date" placeholder="Enter  your BirthDay" class="form-control py-4"  />
												</div>
											</div>
											
										</div>
										<div class="form-row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="small mb-1">Place Of Birth</label>
													<input name="placeOfBirth" ngModel type="text" placeholder="Enter your birth country" class="form-control py-4" />
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="small mb-1">Date Join the project</label>
													<input name="dateRejointProjet" ngModel type="date" placeholder="Enter  date of affectaion" class="form-control py-4"  />
												</div>
											</div>
											
										</div>
										
										<div class="form-group">
											<label class="small mb-1">Email</label>
											<input name="email" ngModel="" type="email" aria-describedby="emailHelp" placeholder="Enter email address" class="form-control py-4" />
										</div>

										<div class="form-row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="small mb-1" >Qualification</label>
													<input name="qualification" ngModel="" type="text" placeholder="Enter your birth country" class="form-control py-4" />
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="small mb-1">State</label>
													<select name="affected" ngModel class="form-control form-control-lg">
														<option value="Stopped">Stopped</option>
														<option value="Holiday" >Holiday</option>
														<option value="Working">Working</option>
													</select>												
												</div>
											</div>
											
										</div>

										<div class="form-group">
											<label class="small mb-1">isAffected</label>
											<select name="affected" ngModel class="form-control form-control-lg">
												<option value="true">affected</option>
												<option value="false" style="color: red;">not affected</option>
											</select>
										</div>
										
										<div class="form-row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="small mb-1">Password</label>

													<input  name="password" ngModel type="password" placeholder="Enter password" class="form-control py-4" />
												</div>
											</div>
											
										</div>
										<div class="form-row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="small mb-1">Confirm Password</label>

													<input  name="repassword" ngModel type="password" placeholder="Enter password" class="form-control py-4" />
												</div>
											</div>
											
										</div>
										<div class="form-group mt-4 mb-0">
											<button class="btn btn-primary btn-block">Create Account</button>
										</div>
									</form>
								</div>
								<div class="card-footer text-center">
									<div class="small">
										<a routerLink='/admin'>Have an account? Go to Verfy</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<div id="layoutAuthentication_footer">
			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid">
					<div class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Copyright &copy; Your Website 2019</div>
						<div>
							<a href="#">Privacy Policy</a>
							&middot;
							<a href="#">Terms &amp; Conditions</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	
</div>