
    <div class="sb-nav-fixed">
		<app-nav-bar></app-nav-bar>
		<div id="layoutSidenav">
		
		<app-side-bar></app-side-bar>    
		<div id="layoutSidenav_content">

			<main>
				<div class="container-fluid">
					<h1 class="mt-4">Tables</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
						<li class="breadcrumb-item active">Tables</li>
					</ol>
				   
					<div class="card mb-4">
						<div class="card-header"><i class="fas fa-table mr-1"></i>DataTable Example</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										
											<tr>
												<th>Id</th>
												<th>Task name</th>
												<th>Worker Id</th>
												<th>Task Date Affectaion</th>
												<th>Task Description </th>
												<th>Task Duration</th>
											</tr>
										
									</thead>
									
	
									<tbody>
										<tr *ngFor="let task of tasks">
											<td>{{task.id}}</td>
											<td>{{task.taskName}}</td>
											<td>{{task.worker}}</td>
											<td>{{task.dateOfAffectaion}}</td>
											<td>{{task.description}}</td>
											<td>{{task.duresApproximative}}</td>
										</tr>
										
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</main>
  
			<!--
<div> 
	<p></p>
	
	<button class="btn btn-danger" (click)="onNewTask()">New task</button>

	<p></p>
	<table class="table table-striped">
		<tr>
			<th>Id</th>
			<th>Task name</th>
			<th>Task Description </th>
			<th>Task Date Affectaion</th>
			<th>Task Duration</th>
			<th>Affected Worker ID</th>
		<tr *ngFor="let task of tasks">
			<td>{{task.id}}</td>
			<td>{{task.taskName}}</td>
			<td>{{task.worker}}</td>
			<td>{{task.description}}</td>
			<td>{{task.dateOfAffectaion}}</td>
			<td>{{task.duresApproximative}}</td>
			
		</tr>
	</table>
</div>
 -->
		</div>
		</div>
	</div>
	